/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  and follow the formatting and style given.
*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  text-transform: none;
}

/* カテゴリ・タグ デザイン変更 */
a.article-category-link {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  text-transform: none;
  letter-spacing: 0;
  padding: 0.3em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #333;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

/* カテゴリ・タグ デザイン変更（ホバー） */
a.article-category-link:hover {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #fff !important;
}

/* サイト タイトルのフォント間隔変更 */
#header h1 a {
  letter-spacing: 0;
}

/* プロフィール画像の下線を非表示 */
#intro a {
  border-bottom: none;
}

/* プロフィール欄のサイト タイトルを削除したためレイアウト調整 */
#intro header {
  padding-top: 10px;
}

/* Recent Posts のブロック内レイアウト調整 */
.mini-post header {
  padding: 0.5em 0.8em 0.1em 0.8em;
}

/* 記事内の見出しタグのデザイン変更 */
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  padding: 0.4em;
  color: #494949;
  background: #f8fbff;
  border-left: solid 5px #00319c;
  letter-spacing: 0;
}