<style>
	/// Overwrite CSS variable
	:root {
		--article-font-family: "Merriweather", var(--base-font-family);
	}
</style>

<a target="_blank"
	href="https://www.amazon.co.jp/gp/product/B07L51QCKP/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=B07L51QCKP&linkCode=as2&tag=twoooooda-22&linkId=2d64209336e792a6f07dd745123394dc"><img
		border="0"
		src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=B07L51QCKP&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=twoooooda-22"></a>

<script>
	(function () {
		const customFont = document.createElement('link');
		customFont.href = "<https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap>";

		customFont.type = "text/css";
		customFont.rel = "stylesheet";

		document.head.appendChild(customFont);
	}());
</script>