<style>
	/// Overwrite CSS variable
	:root {
		--base-font-family: "Noto Sans JP";
		--article-font-family: "Dela Gothic One", var(--base-font-family);
	}
</style>

<script>
	(function () {
		const customFont = document.createElement('link');
		customFont.href = "https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap";

		customFont.type = "text/css";
		customFont.rel = "stylesheet";

		document.head.appendChild(customFont);
	}());
</script>

{{ with .Site.Params.customCSS }}
<link rel="stylesheet" href="{{ . | absURL}}">
{{ end }}

<script data-ad-client="ca-pub-1974593433241323" async
	src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<meta name="google-site-verification" content="VbZ8bhx-KUz-76730RJ0zesV2K_ik2d1ESTrQDVUPl4" />

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1974593433241323"
	crossorigin="anonymous"></script>